$menuHeight: 60px

.menu
  background: $mardiGras
  color: $whiteSmoke
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 100
  height: $menuHeight
  display: flex
  align-items: center
  justify-content: space-around
  &__item
    text-transform: uppercase
    height: 100%
    line-height: $menuHeight
