.menu
  background: $mardiGras
  color: $whiteSmoke
  width: 100%
  position: fixed
  top: 0
  left: 0
  height: 60px
  display: flex
  align-items: center
  justify-content: space-around
  &__item
    text-transform: uppercase
