doctype html
html
  head
    meta(charset='UTF-8')
    title White Cloud Sketch
    link(rel='stylesheet', href='./style.sass')
    link(rel='stylesheet', href='http://overpass-30e2.kxcdn.com/overpass.css')
  body
    include modules/menu/menu.pug
    include modules/background/background.pug
    include modules/teaser/teaser.pug

    //- script(src='./index.js')
