@import 'variables.sass'
@import 'mixins.sass'
@import 'reset.sass'
@import 'modules/background/background.sass'
@import 'modules/teaser/teaser.sass'
@import 'modules/menu/menu.sass'
@import 'modules/gallery/gallery.sass'

html
  min-height: 100%

body
  min-height: 100%
  font-family: 'Raleway', sans-serif
  color: $white

h1
  @include largeFont

a
  color: $white
  text-decoration: none
  @include transition(color)
  &:hover
    color: $lightblue
