@import 'variables.sass'
@import 'reset.sass'
@import 'modules/background/background.sass'
@import 'modules/teaser/teaser.sass'
@import 'modules/menu/menu.sass'

html
  min-height: 100%

body
  min-height: 100%
  font-family: overpass, sans-serif

a
  color: $whiteSmoke
  text-decoration: none
  transition: color 0.2s ease
  &:hover
    color: aqua
