.teaser
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center

  &__image
    border-radius: 50%
    background-image: url('assets/cosmonaut.jpg')
    background-position: center center
    background-repeat: none
    background-size: 60vw
    width: 30vw
    height: 30vw
